*{
    color: aliceblue;
}
nav{
    background: linear-gradient(200deg,#E6445C,#160E73);
}
#navbar .img_logo{
    width: 300px;
    height: 120px;
}
#navbar a { /*fonte da cor dos items da navbar*/
    color: #faf5f5;
}

#navbar .navbar-toggler{
  color: #f5f5f5;

}

#navbar a:hover {
    color: #faf5f5;
    border-bottom: 0.5px solid #eee9e9;
    font-weight: bolder;
}

.navbar-brand {  /*classe do link da logo */
    display: flex;
}




#navbar-items .navbar-nav {    /*classe para centralizar os elementos ao centro */
    display: flex;
    justify-content: center;
    width: 100%;
    letter-spacing: 0.1em;
}

#navbar-items .nav-item {  /*margem de um elemento para o outro */
    margin: 1 1em;
}
.Posicionamento{
    padding: 5%;
}

.ImagemTela01{
    background-image: url("../files/PÁGINA 01/página 01/EL1_FUNDO.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.Destaque-Fonte{
    font-size: 50px;
    letter-spacing: 0.1em;
}


.CorFormTela01{
    /* background: #160E73; */
    /* width: 95%; */
    text-align: center;
    
}
.ParagrafoTela01{
    letter-spacing: 0.1em; 
}

.CaixaCor{
    width: 100%;
    height: 30px;
    background: #160E73;
    margin-left: 10px;
    text-align: center;
    border-radius: 10px;
  }
  .caixa{
    width: 100%;
    margin: 10px;
    
  }
  input{
    width: 100%;
    border-radius: 10px;
    border: solid 0px;
    opacity: 70%;
  }
  textarea{
    width: 100%;
    border-radius: 10px;
    opacity: 70%;
  }
.form-check{
    margin-left: 10px;    
}
.BotaoForm1{
    text-align: center;
    
   }
.BOTAO1{
    border-radius: 20px;
    background: #E6445C ;
    border: solid 0px;
    letter-spacing: 0.1em;
    width: 150px;
    margin-top: 10px;
}

.ImagemTela02{
    background-image:url("./EL2_FUNDO.png") ;
    background-repeat: no-repeat;
    background-size: cover;

}
.card{    
    border: solid , 0px;
    margin: 5%;  
}
#section02 h5{
    font-size: 40px;
    font-weight: 700;
}
.PTextTel02{
    font-size: 20px;
}
.PText2Tel02{
    font-size: 15px;
}

.CardTransparentNotbook{
    background: transparent;
    border: none;
}
.CardOpacity{
    width: 320px;
    max-width: 320px;
    height: 300px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    background: #b86f96;
    justify-content: center;
    text-align: justify;
}
.MarginCardTel02{
    margin-top: 20px;
}

.CardTransparent{
    background: transparent;
    width: 320px;
    max-width: 320px;
    height: 300px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    border: none;
}
.MarginCol8{
    margin-top: 5%;
    text-align: left;
    

}
.TextTitleCardTransparentSection2{
    font-size: 50px;
}
.TextBodyCardTransparentSection2{
    font-size: 25px;
}
.ImagemTela03{
background: url("./EL3_FUNDO.png");
background-repeat: no-repeat;
background-size: cover;
}


.TituloTela03{
    text-align: center;
    font-size: 40px;
}
.tel3{
    color: #160E73;
}

.TextoTela03{
    text-align: center;
    font-size: 25px;
}
.textotel3{
    color: #160E73;
}
.ButtonTela03{
    
    text-align: center;
    width: 100%;


}
.ButonTela03{
    text-align: center;
    background: #160E73;
    border-radius: 10px;
    width: 500px;
}
.ImagemTela04{
    background: url("./EL4_FUNDO.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.LogoTel04{
    width: 100%;
    height: 400px;
    margin-top: -90px;
}
.H6DestaqueTel04{
    font-size: 50px;
   font-weight: 700;
    margin-left: 10%;
    margin-top: -100px ;
    
}
.ParagrafoTel04{
    margin-left: 10%;
    font-size: 20px;
    letter-spacing: 0.1em;
    font-weight: 500;
    justify-content: center;
    text-align: justify;
}
#section04 .card{
    margin-top: 70%;
    width: 300px;
    max-width: 300px;
    height: 400px;
    max-height: 400px;
    background: #b86f96;
    justify-content: center;
    text-align: center;
    
}
.ImagemRepresentantesTel04{
    width: 300px;
    height: 350px;
    position: relative;
    top: -40%;
    /* left: 40px; */
    border-radius: 10px;
}
.ImagemRepresentantesTel05{
    width: 300px;
    height: 400px;
    max-height: 600px;
    position: relative;
    top: -40%;
    /* left: 40px; */
    border-radius: 10px;
}
#section04 .card .card-title{
    font-size: 30px;
    margin-top: -60%;
    
}
.H6TitutoTel05{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: #160E73;
}
#section05{
    background: #e1e7ea;
}
#section05 .card{
    background: #e1e7ea;
    color: #616170;
    width: 350px;
}
#section05 .card h5{
    background: #e1e7ea;
    color: #616170;
}
#section05 .card p{
    background: #e1e7ea;
    color: #616170;
}
#section05 .ImagemBlogsTel05{
    width: 100%;
}

.TamanhoCardTel6{
    width: 270px;
    height: 500px;

   
}
.LinhaBotaoTel05{
    text-align: center;
}
.ButonTel05{
    font-size: 25px;
    background: #160E73;
    border-radius: 15px ;
}
.ImagemTela06{
    background: linear-gradient(100deg,#E6445C,#160E73);
}
.ImagemCadeadoTel06{
width: 400px;
height: 400px;
margin-left: -65px;
}
#ImagemCadeadoTel06{
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
     transform: rotate(330deg);
}
.row-footer{
    background: #160E73;
}
#icons-footer .icone{
    display: inline-flex;
    width: 50px;
    height: 50px;
    background: transparent;
    color: #f5f5f5;
    margin: 0 6px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 40px;
    text-decoration: none;
  }
  #icons-footer .none{
    text-decoration: none;
  }
  
  #icons-footer .center-l2{
    height: 70px;
    width: 70px;
  }
  .a-footer{
    margin-top:2%;
    padding: 0;
    list-style: none;
    width: 100%;
  
  }
  .a-footer a {
    color: #faf5f5;
    text-decoration: none;
  }
  
  .a-footer a:hover {
    color: #faf5f5;
    border-bottom: 0.5px solid #eee9e9;
    font-weight: bolder;
    text-decoration: none;
  }
  .FooterLogo{
    width: 100%;
    height: auto;
  }
  @media (min-width: 568px) and (max-width: 768px) {
    .ModifyTabletTel01Text{
        text-align: center;
    }
    .CardTransparentNotbook{
        display: none;
    }
    .CardTransparent{
        background: transparent;
        width: 250px;
        max-width: 320px;
        height: 150px;
        max-height: 300px;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        text-align: justify;
        border: none;
        left: 150px;
        }
        #section02 h5{
            font-size: 20px;
        }
        #section02 .card-body p{
            font-size: 10px;
        }
         /* br{
            display: none;
        } */
        .card-title{
            text-align: center;
        }
        .CardOpacity{
            width: 300px;
            max-width: 320px;
            height: 300px;
            max-height: 300px;
            display: flex;
            /* flex-direction: column; */
            background: #b86f96;
            justify-content: center;
            text-align: justify;
            left: 150px;
        }
        .PTextTel02{
            font-size: 15px;
        }
        .TextTitleCardTransparentSection2{
            text-align: left;
        }
        .TextBodyCardTransparentSection2{
            text-align: left;
        }
        .MarginCardTel02{
            margin-top: 35px;
        }
        .ImagemCadeadoTel06{
            display: none;
        }
        .FontFooter{
            font-size: 11px;
        }
        .TamanhoCardTel6{
            margin: 2%;
        }
        .Center{
            text-align: center;
            justify-content: center;
            justify-items: center;
            align-items: center;
        }
 }